* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
/* //header.logo// */
.logo a {
  display: flex;
  gap: 4px;
  align-items: center;
}
.nom-logo {
  position: relative;
}
.nom-logo span {
  font-size: x-large;
  font-weight: bold;
  color: black;
}
.nom-logo .sou-logo span {
  position: absolute;
  right: 0;
  bottom: -5px;
  font-size: x-small;
}
nav {
  display: flex;
  gap: 3rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
nav a button {
  padding: 8px 2rem;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

/* hero section */

.hero-section {
  width: 100%;
  height: 100vh;
}
.hero-section .hero {
  background-image: url(../imgs/imgHome/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  padding: 5rem;
}
.hero .hero-content h1 {
  font-size: 3.5rem;
}
.hero .hero-content p {
  color: var(--secondary-color);
  margin-top: 4rem;
  font-size: 22px;
}
.searchbar {
  margin-top: 4rem;
}
.searchbar .btn-search {
  display: flex;
  align-items: center;
}
.searchbar .btn-search button {
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 8px 8px 0 0;
  border: none;
  color: var(--secondary-color);
}
.btn-search button.RENT {
  background-color: rgba(255, 255, 255, 0.724);
  color: black;
}
.search {
  padding: 0 1rem;
  border-radius: 0 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.847);
  position: relative;
  width: 70%;
}
/* .search .blur{
    position: absolute;
    filter: blur(9px);
    width:100% ;
    height: 100%;
    z-index: 1;
} */
.select-search {
  z-index: 10;
  padding: 1.5rem 0;
  display: flex;
  gap: 2rem;
}
.select-location , .select-propety {
  border-right: 2px solid rgba(114, 114, 114, 0.587);
  padding-right: 1rem;
}

.select-search .select-location label , .select-price label {
  color: black;
  font-size: 1rem;
}
.select-search .select-location .City-location {
  display: flex;
  align-items: center;
}
.select-search .select-location input , .select-price input {
  border: none;
  outline: none;
  margin-top: 6px;
  padding: 4px 0;
  background-color: transparent;
}
.property{
    display: flex;
    align-items: center;
}
.select-location label{
    color: black;
    font-size: 1rem;
    

}
select.sel-property {
    outline: none;
    border: none;
    margin-top: 6px;
    padding: 4px 0;
  background-color: transparent;
  color: rgba(11, 10, 10, 0.532);
  
}

.select-search button {
    border: none;
    cursor: pointer;
}
